# Copy this file to .env and fill in your own values
PORT=5000
MONGO_URI=mongodb://<db_username>:<db_password>@ac-r2sjcmr-shard-00-00.acj02gn.mongodb.net:27017,ac-r2sjcmr-shard-00-01.acj02gn.mongodb.net:27017,ac-r2sjcmr-shard-00-02.acj02gn.mongodb.net:27017/mern_ecommerce?tls=true&replicaSet=atlas-bp7yj4-shard-0&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=change_this_to_a_long_random_secret